bin/*
.classpath
.project
.settings/*
*.tar.gz
*.swp
Launcher2.java
.metadata/*
.dropbox
search25.stats
search27.stats
search29.stats
*.jar
uci-log.txt
game-archive/temp
*.sh
millionbase-2.22.pgn
megabook.bk
sample*
genetic-results/*
state5-experimental.zip
.idea
*.iml
